/*Defines style specific classes*/
.bg-primary{ background-color: #ff0; }
.bg-secondary{ background-color: #f0f; }

.image1{
  background-image:url('https://wallpaperscraft.com/image/plane_sky_flying_sunset_64663_3840x2400.jpg');
}
